#content{
    padding: 15px 35px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 45px;
}

input, select {
    border-radius: 50px;
    border: none;
    background-color: #ebebeb;
    transition: background-color 0.3s ease-in-out;
    height: 30px;
    margin: 10px;
}

select{
    width: 200px;
    text-align: center;
}

#content input{
    width: 50%;
}

#content input[type='button']{
    width: 10.4%;
    height: 32px;
    transition: background-color 0.2s ease-in;
}

#content input[type='button']:hover{
    background-color: green;
    color: white;
    cursor: pointer;
}

input:focus, select:focus {
    outline: none;
    background-color: #cbefc9;
}

textarea {
    width: 100%;
    height: 30%;
    border-radius: 5px;
    text-align: center;
}

table{
    width: 100%;
    margin-top: 15px;
    border-collapse: separate;
    border-spacing: 0px 3px;
}

thead th{
    color: white;
    padding: 10px;
    text-align: center;
}

thead th:first-of-type{
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

thead th:last-of-type{
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

thead{
    background-color: #061A9F;
}

tbody tr {
    background-color: #ebebeb;
    text-align: center;
    margin: 0px;
    transition: background-color 0.1s ease-in;
}

tbody tr:hover {
    background-color: #d2cfcf;
    text-align: center;
    margin: 0px;
    cursor: pointer;
}


tbody tr td {
    margin: 0px 15px;
    white-space: nowrap;  
    overflow: hidden; 
    max-width: 200px;
}

tbody tr td:first-of-type{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

tbody tr td:last-of-type{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

#modalDetalleCita hr{
    height: 3px;
    border-radius: 5px;
    background-color: #6769788a;
}

#modalDetalleCita .modal-content{
    margin: 5% 15%;
    width: 75% !important;
}

#modalDetalleCita h2 { 
    margin-bottom: 30px;
}

#modalDetalleCita form{
    text-align: center;
}

#modalDetalleCita form input{
    text-align: center;
    margin: 10px;
}

#modalDetalleCita input[type='submit'], #modalDetalleCita input[type='button']{
    width: 15%;
    transition: background-color 0.2s ease-in;
}

#modalDetalleCita input[value='Volver']:hover{
    background-color: #d2cfcf;
    cursor: pointer;
}

#modalDetalleCita input[value='Cancelar Cita']:hover{
    background-color: red;
    color: white;
    cursor: pointer;
}

#modalDetalleCita input[value='Cambiar Cita']:hover{
    background-color: green;
    color: white;
    cursor: pointer;
}

#modalDetalleCita textarea{
    height: 200px;
}

#modalDetalleCita span{
    position: fixed;
    left: 90%;
    bottom: 85%;
}

section h1{
    position: relative;
    left: 100px;
    z-index: 0;
    width: 1200px;
}

section a {
    position: relative;
    float: right;
    right: 7%;
    top: 5%;
    width: 250px;
    border-radius: 20px;
    border: none;
    background-color: #ebebeb;
    transition: background-color 0.2s ease-in;  
    text-decoration: none;
    text-align: center;
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    z-index: 1;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
}

section a:hover {
    background-color: green;
    cursor: pointer;
    color: white;
}