#content{
    padding: 15px 35px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 45px;
}

#content input, #content select {
    border-radius: 50px;
    border: none;
    background-color: #ebebeb;
    transition: background-color 0.3s ease-in-out;
    height: 30px;
    margin: 10px;
}

select{
    width: 200px;
    text-align: center;
}

#content input{
    width: 45.5%;
}

#content input[type='button']{
    width: 10.4%;
    height: 32px;
    transition: background-color 0.2s ease-in;
}

#content input[type='button']:hover{
    background-color: green;
    color: white;
    cursor: pointer;
}

#content input:focus, #content select:focus {
    outline: none;
    background-color: #cbefc9;
}

textarea {
    width: 100%;
    height: 30%;
    border-radius: 5px;
    text-align: center;
}

table{
    width: 100%;
    margin-top: 15px;
    border-collapse: separate;
    border-spacing: 0px 3px;
}

thead th{
    color: white;
    padding: 10px;
    text-align: center;
}

thead th:first-of-type{
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

thead th:last-of-type{
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

thead{
    background-color: #061A9F;
}

tbody tr {
    background-color: #ebebeb;
    text-align: center;
    margin: 0px;
    transition: background-color 0.1s ease-in;
}

tbody tr:hover {
    background-color: #d2cfcf;
    text-align: center;
    margin: 0px;
    cursor: pointer;
}


tbody tr td {
    margin: 0px 15px;
}

tbody tr td:first-of-type{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

tbody tr td:last-of-type{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

#modalModificacionExpediente .modal-content{
    margin: 3% 18%;
    height: 84%;
    overflow: hidden;
}

.modal-content h2 {
    font-size: 30px;
    text-align: left;
}

#modalModificacionExpediente form{
    height: 100%;
}

#contenedorRadioButton{
    text-align: right;
    float: left;
    width: 30%;
    height: 85%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#contenedorDetalleTratamiento{
    float: right;
    width: 68%;
    height: 85%;
}

#contenedorRadioButton input[type='radio'], #contenedorRadioButton label {
    margin-top: 15px;
    margin-bottom: 10px;
}

#contenedorRadioButton label, #contenedorDetalleTratamiento label {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #061A9F;
}

#contenedorRadioButton textarea, #contenedorDetalleTratamiento textarea{
    border-radius: 10px;
    text-align: center;
    border: none;
    background-color: #ebebeb;
    transition: background-color 0.3s ease-in-out;
    height: 30px;
    margin: 10px;
    width: 70%;
    height: 20%;
}

#contenedorRadioButton textarea:focus{
    outline: none;
    background-color: #cbefc9;
}

#contenedorDetalleTratamiento textarea {
    width: 96.5%;
    height: 82%;
}

#contenedorDetalleTratamiento textarea:focus{
    outline: none;
    background-color: #cbefc9;
}



#contenedorDetalleTratamiento input[type='button']{
    background: #ebebeb;
    width: 10%;
    height: 30px;
    border: none;
    border-radius: 15px;
    transition: background-color 0.2s ease-in;
    float: right;
}

#contenedorDetalleTratamiento input[type='button']:hover{
    background-color: goldenrod;
    cursor: pointer;
    color: white;
}