html{
    height: 100%;
    margin: 0px;
}

body{
    display: flex;
    margin: 0px;
    padding: 0px;
    height: 100%;
    min-width: 100%;
    overflow: auto;
}

#portada{
    float: left;
    min-width: 50%;
    max-width: 50%;
    background-color: #061A9F;
    margin: 10px;
    border-radius: 15px;
    overflow: hidden;
}

#logo{
    border: 2px dotted white;
    display: inline-block;
    margin: 10px;
    border-radius: 70px;
}

#logo img{
    width: 75px;
    padding: 7px;
}

#titleContainer{
    text-align: center;
    font-family: sans-serif;
    font-weight: lighter;
    letter-spacing: 1.5px;
    color: white;
    margin-top: 50px;
    font-size: 20px;
}

#imageContainer{
    margin-top: 10%;
    text-align: center;
}

#figuraDoctor{
    width: 350px; 
}

#registro{
    float: right;
    min-width: 50%;
    max-width: 50%;
    overflow: hidden;
}

#registro h1 {
    text-align: center;
    margin-top: 27%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #061A9F;
}

#registro input{
    display: block;
    text-align: center;
    margin: 25px auto;
    height: 40px;
    width: 500px;
    border: none;
    background-color: #ebebeb;
    border-radius: 20px;
    transition: background-color 0.3s ease-in-out;
}

#registro input:focus{
    background-color: #cbefc9;
    outline: none;
}

#registro input::placeholder{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 2px;
    font-weight: lighter;
    font-size: 15px;
}

#registro input[type='button']{
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 19px;
    color: white;
    margin-top: 7%;
    margin-bottom: 10%;
    width: 150px;
    height: 45px;
    border-radius: 50px;
    background-color: #3ae9ef;
    transition: color 0.3s ease-in-out;
}

#registro input[type='button']:hover{
    width: 150px;
    background-color: #93fbff;
    color: #061A9F;
    cursor: pointer;
}

#registro button{
    display: block;
    margin: 20px auto;
    text-align: center;
    border: none;
    background-color: transparent;
    color: #061A9F;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    letter-spacing: 1px;
    transition: text-decoration 0.3s ease-in;
}

#registro button:hover{
    text-decoration: underline;
    cursor: pointer;
}

/*Estilo específico ventana modal de Restablecimiento de contraseña*/

#modalRestablecerContra .modal-content{
    margin: 7% auto;
}

#modalRestablecerContra h2, #modalPacienteNuevo h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
    color: #061A9F;
    text-align: center;
    font-size: 50px;
    margin: 0px;
}

#modalRestablecerContra p, #modalPacienteNuevo p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #061A9F;
    text-align: center;
}

#modalRestablecerContra h4 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #061A9F;
    text-align: center;
}

#modalRestablecerContra input[type='text'], input[type='password']{
    width: 100%;
    height: 30px;
    border-radius: 50px;
    border: none;
    background-color: #ebebeb;
    transition: background-color 0.3s ease-in-out;
}

#modalRestablecerContra input[type='text']:focus, input[type='password']:focus{
    background-color: #cbefc9;
    outline: none;
}

#modalRestablecerContra input:nth-last-of-type(2){
    display: inline-block;
    width: 80%;
}

#modalRestablecerContra input[type='button'], #modalPacienteNuevo input[type='button']{
    height: 40px;
    border-radius: 50px;
    border: none;
    background-color: #3ae9ef;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 17px;
    color: white;
    width: 150px;
    margin-left: 40px;
    cursor: pointer;
}

#modalRestablecerContra input[type='button']:hover, #modalPacienteNuevo input[type='button']:hover{
    background-color: #93fbff;
    color: #061A9F;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
}

/*Estilo específico ventana modal de Paciente Nuevo*/

#modalPacienteNuevo .modal-content{
    margin: 5% auto;
}

#modalPacienteNuevo form {
    text-align: center;
}

#modalPacienteNuevo input, #modalPacienteNuevo select, #modalPacienteNuevo textarea {
    border-radius: 50px;
    border: none;
    background-color: #ebebeb;
    transition: background-color 0.3s ease-in-out;
    height: 30px;
    margin: 10px;
}

#modalPacienteNuevo input:focus, #modalPacienteNuevo select:focus, #modalPacienteNuevo textarea:focus {
    outline: none;
    background-color: #cbefc9;
}

#modalPacienteNuevo label {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-right: 5px;
    padding-left: 5px;
}

#modalPacienteNuevo label[for='descripcionAdicional']{
    vertical-align: top;
}

#modalPacienteNuevo textarea {
    height: 200px;
    width: 70%;
}
